form.sign-page(name="forgotPassword", novalidate, ng-submit="forgot(forgotPassword.$valid)")
  h2 Forgot your Password
  input(name="forgotEmail", type="email",
    ng-model="user.username",
    ng-model-options="{ updateOn: 'blur' }",
    placeholder="Email",
    autofocus,
    ng-required="true")
  .errors(ng-show="forgotPassword.$submitted && forgotPassword.forgotEmail.$pristine")
    | Required!
  .errors(ng-show="forgotPassword.forgotEmail.$error.required && !forgotPassword.forgotEmail.$pristine")
    | Required!
  .errors(ng-show="forgotPassword.forgotEmail.$error.email")
    | Not valid email!
  button.button-sign(type="submit") Send Email
  a.skip(href="", ng-click="cancel()") Cancel
