ul.breadcrumb-group {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  li {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $color-breadcrumb-base;
      font-size: 1.4rem;
      font-weight: lighter;
      margin-right: 0.5rem;
      max-width: 16rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      i {
        color: $color-cloud-active;
        margin-left: 0.5rem;
        margin-right: 1.3rem;
        display: inline-block;
      }
      .ag--logo {
        display: none;
      }
      .ag-drive-logo {
        width: 1rem;
        height: 1rem;
        background-image: url("../images/logo_drive_white.svg");
        background-position: -0.15rem 0.15rem;
      }
      .ag-drive-logo:after {
        content: "";
        background-color: $color-cloud-drive;
        width: 2rem;
        height: 2rem;
        z-index: -1;
        border-radius: 50%;
        position: absolute;
        margin-top: -0.35rem;
        margin-left: -0.6rem;
      }
      .ag-dropbox-logo:after {
        content: "";
        background-color: $color-cloud-dropbox;
        width: 2rem;
        height: 2rem;
        z-index: -1;
        border-radius: 50%;
        position: absolute;
        margin-top: -0.6rem;
        margin-left: -1.4rem;
      }
      .ag-box-logo:after {
        content: "";
        background-color: $color-cloud-box;
        width: 2rem;
        height: 2rem;
        z-index: -1;
        border-radius: 50%;
        position: absolute;
        margin-top: -0.55rem;
        margin-left: -1.5rem;
      }
    }
  }
}
