#reset-password {
  display: flex;
  flex-flow: column nowrap;
  h2 {
    margin: 20px 0;
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
  }
  input {
    border: none;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0.8rem;
    margin-bottom: 30px;
    outline: 0;
    padding: 5px;
    box-shadow: none;
  }
  .flat-view {
    position: absolute;
    margin-left: 17rem;
  }
  .errors {
    margin-top: -31px;
    margin-bottom: 9px;
    font-size: 0.8rem;
    color: $color-badge-background;
    padding-top: 5px;
    border-top: 1px solid $color-badge-background;
    display: block;
    text-align: left;
  }
}
