#alert-modal {
  &:before {
    background-color: $color-button-background-danger;
    content: "";
    height: 0.2rem;
    width: 100%;
    position: absolute;
    right: 0;
  }
  .modal-body {
    padding: 2.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
      font-weight: lighter;
      margin: 0;
      font-size: 2rem;
    }
    i {
      font-size: 3rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: inline-block;
      &.flat-l-photoshop:after,
      &.flat-l-illustrator:after,
      &.flat-l-ae:after,
      &.flat-l-indd:after {
        margin-left: -3rem;
      }
    }
    h3 {
      font-weight: normal;
      margin: 0;
      max-width: 15rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }
    p {
      font-size: 0.9rem;
      font-weight: lighter;
      margin: 0;
    }
  }
  .modal-footer {
    border-top: 1px solid $color-create-border;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      padding: 0.5rem 2.5rem;
      margin: 0 0.1rem;
    }
    .danger {
      color: $color-button-base-danger;
      background-color: $color-button-background-danger;
      &:hover {
        color: $color-button-background-danger;
        background-color: transparent;
        box-shadow:inset 0px 0px 0px 1px $color-button-background-danger;
      }
    }
    .danger.btn-invert {
      color: $color-button-background-secondary;
      background-color: transparent;
      box-shadow:inset 0px 0px 0px 1px $color-button-background-secondary;
      &:hover {
        color: $color-button-base-danger;
        background-color: $color-button-background-secondary;
        border: none;
      }
    }
  }
}
