#password-modal {
  .modal-body {
    h2 {
      font-size: 2rem;
      font-weight: lighter;
      margin: 0;
      padding-top: 2.5rem;
      padding-bottom: 1.5rem;
    }
    p {
      font-size: 0.8rem;
      font-weight: lighter;
      margin: 0;
      padding-bottom: 1.5rem;
    }
  }
  .changePassword-input {
    border-top: 1px solid $color-create-border;
    padding: 1rem 3rem 0 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    input {
      border: none;
      border-bottom: 1px solid $color-base-font;
      font-size: 0.9rem;
      outline: 0;
      padding: 0.5rem 0;
      box-shadow: none;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    .flat-view {
      position: absolute;
      right: 0;
      margin-right: 3rem;
      margin-top: -3rem;
      cursor: pointer;
    }
    span {
      font-weight: lighter;
      font-size: 0.6rem;
    }
    .errors {
      margin-top: -1.55rem;
      margin-bottom: 1rem;
      font-size: 0.6rem;
      color: $color-badge-background;
      padding-top: 0.2rem;
      border-top: 1px solid $color-badge-background;
      width: 72.5%;
      text-align: left;
      position: absolute;
    }
  }
  .modal-footer {
    border-top: 1px solid $color-create-border;
    padding: 1.5rem;
    bottom: 0;
    width: 100%;
    button {
      padding: 0.5rem 2.5rem;
      margin: 0 0.1rem;
    }
    .btn-invert {
      color: $color-button-background-secondary;
      background-color: transparent;
      box-shadow:inset 0px 0px 0px 1px $color-button-background-secondary;
      &:hover {
        color: $color-button-base;
        background-color: $color-button-background-secondary;
        border: none;
      }
    }
  }
}
