/* General */
$color-base-font: #444548;

/* Buttons */
$color-button-base: #ffffff;
$color-button-background: #0a8be7;

$color-button-base-danger: #ffffff;
$color-button-background-danger: #f4584d;

$color-button-base-secondary: #a5b0b4;
$color-button-background-secondary: #a5b0b4;

$color-button-base-grey: #000000;
$color-button-background-grey: #f2f2f7;

$color-button-background-success: #08A860;
$color-button-background-disabled: #B1DCF9;

/* Logo */
$color-logo-background: #444548;

/* Aside */
$color-aside-background: #ededf3;

$color-nav-base: #71727e;
$color-nav-hover: #ffffff;
$color-nav-active: #383850;

$color-nav-files: #22cbd3;
$color-nav-recent: #f442a4;
$color-nav-incoming: #17c8ff;
$color-nav-starred: #f9b826;
$color-nav-trash: #f4584d;

/* Dropdown Create */
$color-create-border: #EFF2F4;

/* Table */
$color-table-base-column: #94A1A5;

$color-table-header-background: #ffffff;
$color-table-header-border: #F2F2F2;

$color-table-row-border: #EFF2F4;

$color-table-row-hover-background: #F8FBFF;
$color-table-row-hover-border: #EFF2F4;

$color-table-row-active-background: #F0F5FC;
$color-table-row-active-border: #DAE4EF;

$color-border: #dcdcdc;

/* Clouds */
$color-cloud-base: #88A7BC;
$color-cloud-hover: #ffffff;
$color-cloud-active: #ffffff;

$color-cloud-dropbox: #007EE5;
$color-cloud-box: #37A1CE;
$color-cloud-drive: #08A860;

/* Badge */
$color-badge-base: #ffffff;
$color-badge-background: #ee584d;

/* Search */
$color-search-base: #3c3e5f;
$color-search-border: #ececf3;
$color-search-zoom: #3c3e5f;

/* Settings */
$color-settings-base: #444D51;
$color-settings-avatar: #F7F7F7;

/* Dropdown Settings */
$color-settings-border: #EFF2F4;
$color-settings-danger: #F4584D;

/* Breadcrumb */
$color-breadcrumb-base: #000000;

/* Action Buttons */
$color-action-base: #00ADEF;
$color-action-remove: #F4584D;

/* Messages */
$color-messages-base: #444D51;

/* Dropdown */
$color-dropdown-background: #ffffff;
$color-dropdown-border: #CEDFF4;
$color-dropdown-shadow: rgba(206, 223, 244, 0.5);

/* Progress */
$color-progress-base: #ffffff;
$color-progress-border: #CEDFF4;
$color-progress-value: #FFB856;

/* Settings Page */
$color-settings-page-border: #F2F2F2;
$color-settings-page-base: #94A1A5;
$color-settings-page-actions: #00ADEF;
$color-settings-page-dropbox: #007EE5;
$color-settings-page-drive: #08A860;
$color-settings-page-box: #37A1CE;
$color-settings-page-tab-border: #E0E2E1;
$color-settings-page-tab-background: #F2F2F7;
$color-settings-page-tab-active: #ffffff;

/* Starred */
$color-starred: #FBD44B;

/* Wizard */
$step-bg: #fff;
$step-active: #0a8be7;
$step-unactive: #f2f2f7;
