.legals-panel
  p
    |  At Agora (the "Company", "we", or "us") your privacy matters to us. This Privacy Policy explains how we collect, use, share and protect information about you. We also provide information regarding how you can access and update your information and make certain choices about how your information is used.
    br
    br
    |  BY USING OUR SERVICES OR BY OTHERWISE GIVING US YOUR INFORMATION, YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY.
    br
    br
    |  Please review the following carefully so that you understand our privacy practices. If you do not agree to this Privacy Policy, do not use any of our services or give us any of your information.
    br
    br
    |  If you have any questions about this Privacy Policy, please contact us via email at <a href="mailto:a@agora.co?Subject=Hello%20Agora" target="_top">a@agora.co</a>.
    br
    br
    b 1. WHAT INFORMATION WE COLLECT
    br
    br
    b  Information You Provide.
    br
    |  We may request that you provide to us certain information, which may be used to identify you personally, such as your name, e-mail address, and mobile number ("Personal Information"). We may collect this information through various forms and in various places through our services, including account registration forms, contact us forms, or when you otherwise interact with us.
    br
    br
    |  When you sign up to use our services, you create a user profile. The information we request may include your name, date of birth, email, telephone number, and address.
    br
    br
    b  Information We Collect.
    br
    |  In addition to any Personal Information or other information that you choose to submit to us, our third-party service providers and we may use a variety of technologies that collect certain information whenever you visit or interact with the Company’s services (" Usage Information"). This Usage Information may include the browser that you are using, your internet protocol (“IP”) address, the URL that referred you to our services, all of the areas within our services that you visit, and the time of day, among other information. Usage Information may be non-identifying or may be associated with you. Whenever we associate Usage Information with your Personal Information, we will treat it as Personal Information.
    br
    br
    b  Information Provided by Third Parties.
    br
    |  We may, from time to time, supplement the information we collect about you through our services with outside records from third parties such as information that is publicly available and data that we receive from other reputable and trusted sources in order to enhance our ability to serve you and to tailor our content to you. We may combine the information we receive from those sources with information we collect through our services. In those cases, we will apply this Privacy Policy to any Personal Information received, unless we have disclosed otherwise. We may also collect information about social network accounts and contacts from third party social media websites that provide access to this information. We respect and follow the privacy policies of those third party services respectfully with regard to the data we collect from them.
    br
    br
    b  How We Collect Usage Information.
    br
    |  A few of the methods that may be used to collect Usage Information include, without limitation, the following (and subsequent technology and methods hereafter developed):
    br
    br
    |  (a) Cookies. A cookie is a data file placed on a Device when it is used to access the Services. A Flash cookie is a data file placed on a Device via the Adobe Flash plug-in that may be built-in to or downloaded by you to your Device. Cookies and Flash Cookies may be used for many purposes, including, without limitation, remembering you and your preferences and tracking your visits to our web pages. Cookies work by assigning a number to the user that has no meaning outside of the assigning website.
    br
    br
    |  If you do not want information to be collected through the use of cookies, your browser allows you to deny or accept the use of cookies. Cookies can be disabled or controlled by setting a preference within your web browser or on your Device. If you choose to disable cookies or Flash cookies on your Device, some features of the Services may not function properly or may not be able to customize the delivery of information to you.
    br
    br
    |  (b) Web Beacons. Small graphic images or other web programming code called web beacons (also known as "1x1 GIFs" or "clear GIFs") may be included in our web and mobile pages and messages. The web beacons are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users. In contrast to cookies, which are stored in a user's computer hard drive, web beacons are embedded invisibly on Web pages and are about the size of the period at the end of this sentence. Web beacons or similar technologies help us better manage content on our Services by informing us what content is effective, count users of the Services, monitor how users navigate the Services, count how many e-mails that we send were actually opened or to count how many particular articles or links were actually viewed. We do not tie the information gathered by web beacons to your personal information.
    br
    br
    |  (c) Embedded Scripts. An embedded script is programming code that is designed to collect information about your interactions with the Services, such as the links you click on. The code is temporarily downloaded onto your Device from our web server or a third party service provider, is active only while you are connected to the Services, and is deactivated or deleted thereafter.
    br
    br
    |  Any third parties that are linked to through the site or that may advertise on our site may use their own cookies, web beacons, embedded scripts and other technology to collect information about you. You should be aware that the Company cannot control the use of cookies (or the resulting information) by third parties, and use of third party cookies is not covered by our Privacy Policy.
    br
    br
    b  2. HOW WE USE COLLECTED INFORMATION
    br
    br
    |  Our primary goal in using your Personal information or Usage Information is to provide you with a better experience when using our services, however that is not the only use.
    br
    br
    |  We may use your Personal Information or Usage Information to:
    br
    br
    |  a. Communicate with you in response to your inquiries, provide the services you request, and to manage your account.
    br
    br
    |  b. Contact you to provide you with information about our services or electronic newsletters or special promotions.
    br
    br
    |  c. Verify any and all of the information provided to us as active and valid.
    br
    br
    |  d. Contact you with regard to your use of our services, and, in our discretion, changes to our services and/or the services' policies.
    br
    br
    |  e. Improve internal business operations and data analytics.
    br
    br
    |  f. For purposes disclosed at the time you provide your information or as otherwise set forth in this Privacy Policy.
    br
    br
    |  We may also use your Internet Protocol (IP) address to help diagnose problems with our computer server, and to administer our web site(s). We may send you strictly service-related announcements on rare occasions when it is necessary to do so.
    br
    br
    |  Part of our services links directly to third party cloud storage services (such as Google Drive, Dropbox, and Box) for which you may link your accounts with those services and connect with our services. We will not store or save any of your log in, user name, or password information from those services on any of our own servers with the exception of OAuth Tokens, Access Tokens, and Refresh Tokens (collectively “Tokens”), which provide access to you in order to retrieve files from the respective source cloud.
    br
    br
    |  When viewing, editing, or transferring files from different cloud services we may temporarily save a copy of your files on our Company servers, which will be deleted immediately after the user is finished viewing, editing, or transferring said files. Our service will only temporarily save a copy when necessary (for example, when transferring a file from Dropbox to Google Drive).
    br
    br
    |  We will not use your Personal Information to advertise unless you give us permission to do so.
    br
    br
    |  We may extend any of our rights under this Privacy Policy to third parties performing services on our behalf.
    br
    br
    b  3. DISCLOSING INFORMATION
    br
    br
    |  For the purpose of operating our business, we may share collected information, such as aggregated user statistics and log data, with third parties for industry analysis, demographic profiling, to deliver targeted advertising about other products or services. We do not sell, share, rent or trade the information we have collected about you, including Personal Information, other than as disclosed within this Privacy Policy or at the time you provide your information. We do not share your Personal Information with third parties for those third parties' direct marketing purposes unless you consent to such sharing at the time you provide your Personal Information.
    br
    br
    |  You may be presented with an opportunity to share or receive information and/or marketing offers directly from third parties or social media outlets (such as Facebook, Twitter, Instagram, etc.). If you do agree to have your Personal Information shared, your Personal Information will be disclosed to such third parties and all information you disclose will be subject to the privacy policy and practices of such third parties. We are not responsible for the privacy policies and practices of such third parties.
    br
    br
    |  If required we will cooperate with government and law enforcement officials and private parties to enforce and comply with the law. Thus, we may access, use, preserve, transfer and disclose your information (including Personal Information), including disclosure to third parties such as government or law enforcement officials or private parties as we reasonably determine is necessary and appropriate to satisfy any applicable law, regulation, subpoenas, governmental requests or legal process, to protect and/or defend the Terms and Conditions for online and mobile Services or other policies applicable to any online and mobile services, including investigation of potential violations thereof, to protect the safety, rights, property or security of the Company, our services or any third party to protect the safety of the public for any reason, to detect, prevent or otherwise address fraud, security or technical issues, and to prevent or stop activity we may consider to be, or to pose a risk of being, an illegal, unethical, or legally actionable activity. Further, we may use IP address or other Device Identifiers, to identify users, and may do so in cooperation with third parties such as copyright owners, internet service providers, wireless service providers and/or law enforcement agencies, including disclosing such information to third parties, all in our discretion. Such disclosures may be carried out without notice to you.
    br
    br
    |  We reserve the right to disclose and transfer your information, including your Personal Information and Usage Information to a subsequent owner, co-owner or operator of our services or applicable database or in connection with a corporate merger, consolidation, restructuring, the sale of substantially all of our membership interests and/or assets or other corporate change, including, during the course of any due diligence process.
    br
    br
    b  4. PROTECTING YOUR INFORMATION
    br
    br
    |  We use a variety of security measures for protecting the Personal Information and Usage Information we collect, such as encryption, firewalls and SSL (Secure Socket Layers). However, as effective as encryption technology is, no security system can be guaranteed to be 100% secure. We cannot guarantee the security of our databases, nor can we guarantee that information you supply won't be intercepted while being transmitted to us over the Internet or wireless communication, and any information you transmit to the Company you do at your own risk. We recommend that you not disclose your password to anyone.
    br
    br
    |  Our site may also contain links to other third party services and websites. We are not responsible for the privacy practices or the content of these other websites. Please refer to their respective Privacy Policies.
    br
    br
    b  5. HOW TO CHANGE YOUR INFORMATION
    br
    br
    |  You are responsible for maintaining the accuracy of the information you submit to us, such as your contact information provided as part of account registration. If your Personal Information changes, or if you no longer desire our services, you may correct, delete inaccuracies, or amend information by making the change on your account page or by contacting us.
    br
    br
    |  You may also cancel or modify your communications that you have elected to receive from our services by logging into your user account and changing your communication preferences.
    br
    br
    |  If you wish to cancel your account or request that we no longer use your information to provide you services, contact us.
    br
    br
    |  If you have any questions please visit us online at <a href="http://agora.co" target="_blank">http://agora.co</a> and email us via the ‘Contact Us’ page.
